<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>

	

	<div class="row">
		<!-- LOCAL INFORMATION -->
		<div class="col-sm-12">
			<div class="well">
				<h3><span class="fa fa-user"></span> Dados do usuário</h3>

					<p>
						<strong>ID</strong>: <%= user.id %><br>
						<strong>Name</strong>: <%= user.name %><br>
						<strong>Surname</strong>: <%= user.surname %><br>
						<strong>Email</strong>: <%= user.email %><br>
						<strong>Password</strong>: <%= user.password %><br>
					</p>

			</div>
		</div>
	</div>
	<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	<a href="/" class="btn btn-default btn-sm">Home</a>
</div>
</body>
</html>
